* {
    box-sizing: border-box;
  }
  html,
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #0d122b;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }
  h1 {
    text-align: center;
    font-weight: 100;
  }
  header {
    border-bottom: 1px solid #0d122b;
    margin-bottom: 2em;
  }
  main {
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2em;
    padding-top: 4em;
    text-align: center;
  }
  @keyframes bg-pulse {
    0% {
      background-color: #fff;
    }
  
    50% {
      background-color: #c7ecee;
    }
  
    100% {
      backgrouond-color: #fff;
    }
  }
  main.speaking {
    animation: bg-pulse 1.5s alternate ease-in-out infinite;
  }
  #result {
    color: #666;
    font-style: italic;
    text-align: center;
  }
  #result .final {
    color: #0d122b;
    font-style: normal;
  }
  button {
    font-size: 18px;
    font-weight: 200;
    padding: 1em;
    width: 200px;
    background: transparent;
    border: 4px solid #f22f46;
    border-radius: 4px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    color: #f22f46;
    margin-bottom: 4em;
  }
  button:hover,
  button:focus {
    background: #f22f46;
    color: #fff;
  }
  
  a {
    color: #0d122b;
  }
  .error {
    color: #f22f46;
    text-align: center;
  }
  footer {
    border-top: 1px solid #0d122b;
    text-align: center;
  }

  

 /* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0;
    border: none;
    margin-top: 25px;
    margin-bottom: 0;
    float: left;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }